.btn-close {
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'Inter', sans-serif !important;
}

/* Custom style for the label */
.form-label {
    color: #595555; /* Black color for the label */
    font-family: 'Inter', sans-serif; /* Change font family */
}

/* Style for the form input */
.form-control {
    background-color: #f2f3f5; /* Gray background for the input */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); /* Modify the shadow effect */
    border: none; /* Remove the border */
    margin: 5px; /* Add margin to all sides of the input fields */
    font-family: 'Inter', sans-serif; /* Change font family */
}

/* Style for the placeholder */
.form-control::placeholder {
    color: #595555; /* Gray color for the placeholder text */
    font-family: 'Inter', sans-serif; /* Change font family */
}

/* Enhanced shadow effect on focus */
.form-control:focus {
    background-color: #f2f3f5;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4); /* Modify the shadow effect on focus */
    border-color: #595555;
}

/* Change font family for the modal content */
.modal-content {
    font-family: 'Inter', sans-serif; /* Change font family */
}