body {
    font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #F99417; /* Color of the thumb (the draggable part) */
  border-radius: 10px; /* Round the edges of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; /* Color when hovered */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track (the non-draggable part) */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #F99417;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar-title {
    text-align: center;
    margin-top: 22px;
    margin-bottom: 50px;
    font-size: 33px;
    font-family:'Courier New', Courier, monospace;
    font-weight:900 ;
}

.top-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bottom-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/* side menu text (product backlog etc)*/
nav a {
    font-size: 20px;
    display: block;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.827);
}

nav a:hover {
    color: white !important;
}

/* main section */
.main-content {
    margin-left: 250px;
    padding: 20px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
/* Product Backlog */
.content-title {
    color: #F99417;
    margin: 0;
    margin-top: 20px;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-buttons {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

/* create task btn */
.statistic-option-btn {
    background-color: #F99417 !important;
    color: white !important;
    border: none !important;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.statistic-option-btn:hover {
    background-color: #E88315 !important;
}

/* create task btn */
.search-btn {
    background-color: #F99417 !important;
    color: white !important;
    border: none !important;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.search-btn:hover {
    background-color: #E88315 !important;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid #F99417;
}

.card {
    border: none !important;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.3);
    background-color:#f2f3f5 !important;
}

#member-cards-container {
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto;
}

.part3-header {
    color: #FF7A00 !important;
    font-weight: bold;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 10px;

}

/* Style for individual member cards */
.member-card {
    margin-bottom: 10px; /* Space between cards */
    border: none;
    border-radius: 15px !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: white !important;
    height: 80px !important;
}

.time-spent-card{
    background-color: #F2F3F5 !important;
}

.card-username{
    color: #FF7A00 !important;
    font-weight: bold;
}

.avg-time {
    position: absolute;
    top: 30px;
    right: 10px
}

.Viewing-box{
    height: 100px;
    border: none !important;
}
.part2-header {
    position: absolute;
    left: 15px !important;
}
.form-select {
    position: absolute;
    border: none !important;
    width: 480px !important;
    top: 45px;
    left: 5px;
}
.btn-primary:focus {
    outline: none !important;
    box-shadow: none !important;
}

.chart-container {
    padding: 10px 10px;
    height: 390px !important;
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center */
    justify-content: center; /* Vertically center */
}

/* chart background */
.chart-background {
    /* margin-top: 30px; */
    background-color: white;
    border-radius: 15px;

}

.part4-header {
    margin-top: 20px;
    text-align: center;
}


.dark-mode .statistic-option-btn, .dark-mode .search-btn {
    background-color: #cc0001 !important;
    color: white !important;
}

.dark-mode .part3-header {
    color: #010066 !important;
}