<div class="modal fade" id="log-hours-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="log-hours" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md modal-fullscreen-md-down modal-dialog-scrollable">
    <div class="modal-content" style="background-color: #f2f3f5;">
      <div class="modal-header" style="background-color: #FF9417;">
        <h1 class="modal-title fs-5" id="log-hours" style="color: #ffffff;">Log Sheet</h1>
        <button type="button" class="btn-delete-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="bi bi-x-lg" style="font-size: 22px;"></i>
        </button>
      </div>
      <div id="log-alert" style="display: none;">
        <div class="modal-body d-flex align-items-center justify-content-center">
          <div class="text-center">
            <i class="bi bi-check-circle" style="font-size: 150px;"></i>
            <h3 style="color: #00ff00;">Log Updated Successfully</h3>
          </div>
        </div>
      </div>



      <form class="modal-body" id="log-hours-form" novalidate>
        <div class="row">
          <div class="col-12">
            <div class="row px-3 py-1">
              <div class="container task-create">
                <div class="row">
                  <div class="input-label">Date</div>
                </div>
                <div class="row px-2">
                  <input type="date" class="form-control" style="font-size: 25px;" id="log-hours-date" required>
                </div>
              </div>
            </div>
            <div class="row px-3 py-1">
              <div class="container task-create">
                <div class="row">
                  <div class="input-label">Time Spent</div>
                </div>
                <div class="row px-2">
                  <div class="col-6 col-md-3 py-1">
                    <input type="number" class="form-control" style="font-size: 20px;" id="hours-input" placeholder="00"
                      min="0" max="23" required>
                  </div>
                  <div class="col-6 col-md-3 align-self-center py-1">
                    <div style="font-size: 20px;">Hours</div>
                  </div>
                  <div class="col-6 col-md-3 py-1">
                    <input type="number" class="form-control" style="font-size: 20px;" id="minutes-input"
                      placeholder="00" min="0" max="59" required>
                  </div>
                  <div class="col-6 col-md-3 align-self-center py-1">
                    <div style="font-size: 20px;">Minutes</div>
                  </div>

                </div>
              </div>
            </div>
            <div class="row create-button-row">
              <div class="col-12 create-button-col">
                <button type="submit" id="create-task-button" class="btn btn-create-button">Update Log Hours</button>
              </div>
            </div>
      </form>
    </div>
  </div>
</div>
<!-- 
<script src="{{ url_for('static', filename='log_hours.js') }}"></script> -->
<script>

  // Get references to required elements
  var form = document.getElementById('log-hours-form');
  var dateInput = document.getElementById("log-hours-date");
  var hoursInput = document.getElementById("hours-input");
  var minutesInput = document.getElementById("minutes-input");
  var logAlert = document.getElementById('log-alert');

  var sprintTask = {{ sprintTask | tojson }};

  // Function to convert date from "DD-MM-YYYY" to "YYYY-MM-DD"
  function convertDateFormat(dateStr) {
      return dateStr.split('-').reverse().join('-');
  }

  // Set min and max attributes
  dateInput.min = convertDateFormat(sprintTask.sprintStartDate);
  dateInput.max = convertDateFormat(sprintTask.sprintEndDate);

(() => {
  'use strict';
  // Convert date from "YYYY-MM-DD" to "DD-MM-YYYY"
  function convertDateToDDMMYYYY(logDate) {
      const parts = logDate.split("-");
      return `${parts[2]}-${parts[1]}-${parts[0]}`;
  }

  form.addEventListener('submit', event => {
      // Prevent form from doing the default submission behavior
      event.preventDefault();
      event.stopPropagation();

      if (form.checkValidity()) {
          const logDate = convertDateToDDMMYYYY(dateInput.value);
          const hoursLogged = parseFloat(hoursInput.value + '.' + minutesInput.value);

          const payload = {
              sprintTaskID: sprintTask.sprintTaskID,
              userID: sprintTask.userID,
              logDate: logDate,
              hoursLogged: hoursLogged
          };

          fetch('/log_hours', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify(payload),
          })
          .then(response => response.json())
          .then(data => {
              if (data.success) {
                  form.style.display = "none";
                  logAlert.style.display = "block";

                  setTimeout(() => {
                      location.reload();
                  }, 1000);
              } else {
                  alert('Error: ' + data.message);
              }
          })
          .catch((error) => {
              console.error('Error:', error);
          });
      }

      form.classList.add('was-validated');
  });
})();

</script>