<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scrum Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='toggle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scrum_board.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='modal_style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <div id="modal-container"></div>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <h1 class="sidebar-title">Scrum Tool</h1>

            <nav class="top-menu">
                <a href="/productBacklog" class="sidebar-text">Product Backlog</a>
                <a href="/scrumBoard" class="sidebar-text">Scrum Board</a>
            </nav>

            <!-- Image for Dark Mode -->
            <img class= "theme-image" src="{{ url_for('static', filename='twin_tower.png') }}" alt="Description of Image">
            <nav class="bottom-menu">
                <a href="/manageTeam" class="sidebar-text" id="manage-team-button" style="display: none;">Manage Team</a>
                <a href="profile" class="sidebar-text">Profile</a>
                <div class="theme-switch-wrapper">
                    <label class="theme-switch" for="checkbox">
                        <input type="checkbox" id="checkbox" />
                        <div class="slider round">
                            <img
                              src="https://flagcdn.com/16x12/my.png"
                              srcset="https://flagcdn.com/32x24/my.png 2x,
                                https://flagcdn.com/48x36/my.png 3x"
                              width="12"
                              height="10"
                              alt="Malaysia"
                              class="flag"
                            >
                        </div>
                    </label>
                </div>

                <a type="button" id="logout-btn" class="sidebar-text">Log out</a>
            </nav>
        </div>

        <!-- Main Page Content -->
        <div class="main-content">

            <!-- Greeting Message Section -->
            <div class="greeting-section">
                <a href="https://www.freeiconspng.com/img/41828" class="theme-greeting-image" title="Image from freeiconspng.com"><img src="https://www.freeiconspng.com/uploads/flag-malaysia-icon-pictures-2.png" width="100" alt="Flag Malaysia Icon Pictures" /></a>
                <h1>Selamat Hari Malaysia</h1>
                <a href="https://www.freeiconspng.com/img/41828" class="theme--greeting-image" title="Image from freeiconspng.com"><img src="https://www.freeiconspng.com/uploads/flag-malaysia-icon-pictures-2.png" width="100" alt="Flag Malaysia Icon Pictures" /></a>
            </div>

            <div class="header-section">
                <h2 class="content-title">Profile</h2>
            </div>

            <div class="container mt-5 ">
                <div class="mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Username</h5>
                            <p class="card-text" id="username"></p>
                        </div>
                    </div>
                </div>
            
                <div class="mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Email</h5>
                            <p class="card-text" id="email"></p>
                        </div>
                    </div>
                </div>
            
                <div class="mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Role</h5>
                            <p class="card-text" id="role"></p>
                        </div>
                    </div>
                </div>
            
                <div class="mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Password</h5>
                            <p class="card-text" id="password"></p>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" id="change-password-button">Change Password</button>
            </div>

            </div>
        </div>
        <script src="{{ url_for('static', filename='toggle.js') }}"></script>
        <script src="{{ url_for('static', filename='profile.js') }}"></script>
        {% include 'dynamicModal.html' %}
        {% include 'changePasswordModal.html' %}
        {% include 'logoutConfirmationModal.html' %}
        <script src="{{ url_for('static', filename='/manage_team_button.js') }}"></script>
        <script src="{{ url_for('static', filename='/logout.js') }}"></script>
        <!-- <script type="module" src="{{ url_for('static', filename='/scrumboard/create_sprint.js') }}"></script>
        <script src="{{ url_for('static', filename='/scrumboard/render_sprints.js') }}"></script> -->
</body>

</html>
