<link rel=" stylesheet" href="{{ url_for('static', filename='sprint_backlog.css') }}">

<div class="modal fade" id="start-sprint-manually-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="start-sprint-manually" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-md-down modal-dialog-scrollable">
        <div class="modal-content" style="background-color: #f2f3f5;">
            <div class="modal-header" style="background-color: #FF9417;">
                <h1 class="modal-title fs-5" id="start-sprint" style="color: #ffffff;">Start Sprint Manually</h1>
                <button type="button" class="btn-delete-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-lg" style="font-size: 22px;"></i>
                </button>
            </div>
            <form class="modal-body" id="sprint-start-form">
                <div class="row">
                    <div class="col-12 col-xl-6">
                        <div class="row px-3 py-1">
                            <div class="container sprint-start-form">
                                <div class="row">
                                    <div class="input-label">Sprint Name</div>
                                </div>
                                <div class="row px-2">
                                    <input type="text" class="form-control" style="font-size: 30px;" id="sprint-name-input" placeholder="Name" onchange="CheckName()">
                                    <div class="invalid" id="invalid-task-name" style="display: none;">! Please enter a sprint name.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row px-3 py-1">
                            <div class="container sprint-create">
                                <div class="row">
                                    <div class="input-label">New Time Range</div>
                                </div>
                                <div class="row px-2">
                                    <!-- Input for Start Date -->
                                    <label for="start-date">Start Date:</label>
                                    <input type="date" id="start-date" name="start-date" required>
                                    
                                    <!-- Input for End Date -->
                                    <label for="end-date">End Date:</label>
                                    <input type="date" id="end-date" name="end-date" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row create-button-row">
                    <div class="col-12 create-button-col">
                      <button type="submit" id="start-sprint-button" class="btn btn-create-button">Start Sprint</button>
                    </div>
                  </div>
            </form>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='startSprint.js') }}"></script>